#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# all files in output, output & logs folders except .gitkeep
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
input/*
!input/.gitkeep